@{
    ViewData["Title"] = "Home";
}
<section class=" text-center">
    <div class="container">
        <h1>Welcome to bookStore</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="image" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <h3 class="card-title">Book Title</h3>
                        <p class="card-text">this section will be use to disply the short details of books</p>
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="image" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <h3 class="card-title">Book Title</h3>
                        <p class="card-text">this section will be use to disply the short details of books</p>
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="image" aria-label="Placeholder: Thumbnail">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <h3 class="card-title">Book Title</h3>
                        <p class="card-text">this section will be use to disply the short details of books</p>
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                        </div>
                        <small class="text-muted">Author Name</small>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
