

<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright  &copy; Book Store @DateTime.Now.Year
        @*<a href="rishitkalyani02@gmail.com">rishitkalyani02@gmail.com</a>*@
        <custom-email my-email="rishitkalyani02@gmail.com"></custom-email>

    </div>
</footer>
